[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "llama-cpp-python"]
	path = llama-cpp-python
	url = https://github.com/abetlen/llama-cpp-python.git
